{{define "block"}}
    <div>
        <ul>
            {{if .PrevHash}}
            <li>{{.PrevHash}}</li>
            {{end}}
            <li>{{.Data}}</li>
            <li>{{.Hash}}</li>

        </ul>
    </div>
        <hr/>
{{end}}